.header-image {
  /* background-color: #0a397a; */
  height: 10vw;
}

.outer-spacing {
  padding-top: 3%;
  position: absolute;
  /* margin-left: 40%; */
}

.header-title-outer {
  background-color: #971c1c;
  width: 20vw;
  position: relative;
  padding: 3%;
}

.header-title {
  text-align: center;
  font-weight: bold !important;
  color: "white";
}