.row{
    margin: 0%;
    padding: 0%;
}
.column1{
    width: 30%;
    margin: 0%;
    
}
.column2{
    width: 30%;
    margin: 0%;
    
}

@media only screen and (max-width: 850px){
    .column1{
        width: 50%;
    }
    .column2{
        width: 100%
        
    }
    
}